@use "@opensig/opendesign/es/_styles/mixin.scss" as *;

@mixin in-dark {
  [data-o-theme='e.dark'] {
    @content;
  }
}

@mixin text-truncate($line-clamp: 1) {
  & {
    overflow: hidden;
    text-overflow: ellipsis;
    // word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
  }
}

@mixin img-in-dark {
  filter: brightness(80%) grayscale(20%) contrast(1.2);
}

@mixin scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--o-color-fill1);
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--o-color-fill1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--o-color-control1);
  }
}

@mixin hoverable($hover: hover) {
  @media (hover: $hover) {
    @content;
  }
}

@mixin me-hover() {
  @content;
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin title-margin-bottom {
  margin-bottom: 40px;

  @include respond('laptop') {
    margin-bottom: 24px;
  }
  @include respond('pad_h') {
    margin-bottom: 16px;
  }
  @include respond('pad_v') {
    margin-bottom: 12px;
  }
  @include respond('phone') {
    margin-bottom: 12px;
  }
}

@mixin title-padding-bottom {
  padding-bottom: 72px;

  @include respond('laptop') {
    padding-bottom: 56px;
  }
  @include respond('pad_h') {
    padding-bottom: 40px;
  }
  @include respond('pad_v') {
    padding-bottom: 36px;
  }
  @include respond('phone') {
    padding-bottom: 32px;
  }
}

@mixin title-margin-top {
  margin-top: 72px;

  @include respond('laptop') {
    margin-top: 56px;
  }
  @include respond('pad_h') {
    margin-top: 40px;
  }
  @include respond('pad_v') {
    margin-top: 32px;
  }
  @include respond('phone') {
    margin-top: 32px;
  }
}

@mixin title-margin-top2 {
  margin-top: 40px;

  @include respond('laptop') {
    margin-top: 24px;
  }
  @include respond('pad_h') {
    margin-top: 16px;
  }
  @include respond('pad_v') {
    margin-top: 12px;
  }
  @include respond('phone') {
    margin-top: 12px;
  }
}

@mixin title-margin-top3 {
  margin-top: 24px;

  @include respond('laptop') {
    margin-top: 16px;
  }
  @include respond('pad_h') {
    margin-top: 12px;
  }
  @include respond('pad_v') {
    margin-top: 12px;
  }
  @include respond('phone') {
    margin-top: 12px;
  }
}

@mixin title-margin-top4 {
  margin-top: 16px;

  @include respond('laptop') {
    margin-top: 12px;
  }
  @include respond('pad_h') {
    margin-top: 8px;
  }
  @include respond('pad_v') {
    margin-top: 8px;
  }
  @include respond('phone') {
    margin-top: 8px;
  }
}
