.el-scrollbar {
  background-color: var(--e-color-bg2);

  .select-text {
    color: var(--e-color-text4);
    padding: 0 20px;
  }

  .suffix-icon {
    color: var(--e-color-brand1);
  }

  li {
    &.el-select-dropdown__item {
      color: var(--e-color-text1);

      &.selected {
        color: var(--e-color-brand1);
      }
    }

    @media screen and (max-width: 768px) {
      font-size: var(--e-font-size-tip);
    }
  }
}

.el-popper.is-light {
  border: 1px solid var(--e-color-border2);
}

.el-select-dropdown__item.hover {
  background-color: var(--e-color-bg1);
}

.el-popper {
  background-color: red;
}

.popper-select {
  width: 208px;
}

.popper-dropdown {
  width: 230px;
}