@use '../mixin/common.scss' as *;
.o-card {
  --card-cover-radius: 8px;
  --card-radius: 8px;

  --card-title-word-break: normal;
  --card-detail-word-break: normal;
}

.o-card-cover-h,
.o-card-cover-v {
  --card-cover-padding: 0 !important;
}
.o-card-cover-v {
  --card-cover-radius: 8px 8px 0 0;
}

.o-card-cursor-pointer {
  &:hover {
    .o-card-title {
      color: var(--o-color-primary1);
    }
  }
}

// @include in-dark {
//   .o-figure img {
//     @include img-in-dark;
//   }
// }
