.o-popup {
  --popup-shadow: var(--o-shadow-2);
  --popup-bd: 1px solid var(--o-color-control4);
  --popup-radius: var(--o-radius_control-xs);

  .o-popup-body {
    border-radius: var(--popup-radius);
    border: 1px solid var(--o-color-control4);
  }
  .global-feedback-popup {
    border: none;

    textarea::placeholder {
      color: var(--o-color-info4);
    }
  }
  .o-popup-anchor {
    z-index: 2;
  }
}

.o-options-popup {
  --popup-radius: var(--o-radius_control-xs);
}
